.traits-list-warper{
    .traits-list-nav{
        display: flex;
        justify-content: space-between;
        .traits-list-title{
            font-size: 14px;
            font-weight: bold;
        }
    }
    .traits-list-content{
        min-height: 50px;
    }
    .traits-list-date{
        display: flex;
        justify-content: end;
    }
}