.traits-list-warper {
  .traits-list-nav {
    display: flex;
    justify-content: space-between;
    .traits-list-title {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .traits-list-content {
    min-height: 50px;
  }
  .traits-list-date {
    display: flex;
    justify-content: end;
  }
}
