.traits-list-warper {
  .traits-list-nav {
    display: flex;
    justify-content: space-between;
    .traits-list-title {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .traits-list-operation {
    .next-icon:hover {
      color: #1b58f4;
    }
  }
  .traits-list-content {
    display: flex;
    min-height: 60px;
    padding: 16px 0;
    color: #a6a6a6;
  }
  .traits-list-date {
    display: flex;
    justify-content: flex-end;
  }
}
