# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*  @barnettZQG @wonderflow @chivalryq @roguepikachu @anoop2811 @briankane @jguionnet @jerrinfrancis

pkg @barnettZQG @chivalryq @wangyikewxgm @yangsoon @FogDong @roguepikachu @anoop2811 @briankane @jguionnet @jerrinfrancis

packages @barnettZQG @chivalryq @roguepikachu @anoop2811 @briankane @jguionnet @jerrinfrancis
