.definition-doc-loading {
  display: block;
  width: 100%;
}

.definition-doc {
  margin: 0 0 16px;
  padding: 24px 32px;
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  .markdown-body {
    font-size: 14px;
    table {
      display: table;
      width: 100%;
    }
  }
}
