.general {
  .breadcrumb-wraper {
    .next-breadcrumb {
      margin-top: 8px;
      .next-breadcrumb-text {
        font-size: 16px;
      }
    }
    .next-select-inner {
      height: 18px !important;
      min-height: 18px !important;
    }
    .title-nav-button {
      float: right;
    }
    .margin-left-5 {
      margin-left: 5px;
    }

    .margin-left-15 {
      margin-left: 15px;
    }
  }

  .card-content-wraper {
    padding: 0;
    .card-content {
      display: flex;
      padding: 15px;
      .deployment {
        flex: 1;
        text-align: right;
      }
    }
    .step-wraper {
      height: 120px;
      margin: 0 0 0 15px;
      padding-top: 15px;
      background-color: #fff;
      .nav {
        display: flex;
        margin-bottom: 15px;
        padding: 0 15px;
        .detail {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
  .tabs-wraper {
    margin-top: 15px;
  }
  .components-wraper {
    margin-top: 15px;
  }
}

.padding-left-15 {
  padding-left: 15px;
}
.margin-top-10 {
  margin-top: 10px;
}
