.loading-imageInput-wrapper {
  .b-design_icon__container {
    width: 100% !important;
  }
  .next-before {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    background-color: #333;
  }
}
.imageInput-error-info {
  color: #eb7e10;
}
