.basic-config-wrapper {
  margin-top: -36px;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  .title {
    h3 {
      margin-top: 0;
    }
  }
  .properties-config-title {
    display: flex;
    justify-content: space-between;
    margin: 10px 12px;
  }
  .ui-schema-container {
    width: 100%;
  }
}
