.dialog-app-wraper {
  width: 50%;
  .next-select-trigger {
    width: 100%;
  }
  .next-dialog-body {
    width: 100% !important;
  }
  .next-dialog-footer {
    width: 280px !important;
    margin: 0 auto;
  }
}
