.status-details {
  padding: 8px 16px;
  .status-details-section + .status-details-section {
    margin-top: 12px;
  }
  .status-details-title {
    margin-bottom: 4px;
    font-weight: 500;
  }
  .status-details-list {
    display: grid;
    grid-template-columns: minmax(120px, max-content) 1fr;
    gap: 4px 16px;
    margin: 0;
    dt {
      color: #a6a6a6;
    }
    dd {
      margin: 0;
      word-break: break-all;
    }
  }
}
