.components-list-warper {
  .components-list-nav {
    display: flex;
    justify-content: space-between;
    .components-list-title {
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .components-list-operation {
    line-height: 24px;
    .next-icon:hover {
      color: #1b58f4;
    }
  }
  .components-list-content {
    display: flex;
    min-height: 78px;
    padding: 16px 0;
    color: #a6a6a6;
  }
  .components-list-date {
    display: flex;
    justify-content: flex-end;
  }
}
