.basic-config-wraper {
  margin-top: -36px;
  padding: 16px;
  border: 1px solid #bbb;
  .title {
    h3 {
      margin-top: 0;
    }
  }
  .properties-config-title {
    display: flex;
    justify-content: space-between;
    margin: 10px 12px;
  }
  .ui-schema-container {
    width: 100%;
  }
  .edit-component-update-btn {
    display: flex;
    justify-content: center;
  }
}

.trait-config-wraper {
  margin-top: 10px;
  padding: 16px;
  border: 1px solid #bbb;
  .title {
    h3 {
      margin-top: 0;
    }
  }
}

.save-btn {
  color: #276bf8;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
