@import url('../../../../common.less');

.dialog-detail-addon {
  width: 800px;
  min-height: 400px;
  .next-dialog-footer {
    width: 280px !important;
    margin: 0 auto;
  }
  .next-dialog-body {
    width: 100% !important;
  }
  .basic {
    width: 100%;
    padding: 0 16px;
  }
}
