.env-bind-wraper{
    .env-bind{
        .input-name{
            width: 98%;
        }
    
        .slect-cluster{
            width: 98% !important;
        }
    
        .input-description{
            width: 90%;
        }
    }
    .add-description{
        display: inline-block;
        width: 90%;
    }
}


.margin-left-4{
    margin-left: 4px;
}