.traits-list-warper {
  min-height: 100px;
  .row-list {
    margin-left: -16px;
    .next-card-show-divider {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }
  .traits-list-nav {
    display: flex;
    justify-content: space-between;
    .traits-list-title {
      color: #1b58f4;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .traits-list-operation {
    line-height: 24px;
    .next-icon:hover {
      color: #1b58f4;
    }
  }
  .traits-list-content {
    display: flex;
    min-height: 78px;
    padding: 16px 0;
    color: #a6a6a6;
  }
  .traits-list-date {
    display: flex;
    justify-content: flex-end;
  }
  .add-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    border: 1px solid #bbb;
  }
  .card-add-wrapper {
    .next-card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
    }
    .next-icon-plus-circle {
      color: #1b58f4;
      font-size: 32px !important;
    }
  }
  .card-trait-wrapper {
    .next-icon-plus-circle {
      font-size: 14px !important;
    }
  }
}
