.app-menu {
  height: calc(~'100vh - 360px');
  .next-card-body {
    padding: 0px;
    padding-top: 0px !important;
    a {
      padding: 16px;
      color: #000;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
