.dialog-cluoudService-wraper {
  width: 60% !important;
  .next-select-trigger{
    width: 72%;
  }
  .next-dialog-body {
    width: 100% !important;
  }
  .next-dialog-footer {
    width: 280px !important;
    margin: 0 auto;
  }
  .next-table-cell.last .next-table-cell-wrapper {
    text-align: left;
  }
}
