.dialog-cluoudService-wraper {
  width: 70% !important;
  .cloud-server-wraper{
    .next-select-trigger {
      width: 100%;
    }
  }
  .next-dialog-body {
    width: 100% !important;
  }
  .next-dialog-footer {
    width: 280px !important;
    margin: 0 auto;
  }
  .next-table-cell.last .next-table-cell-wrapper {
    text-align: left;
  }
}
