@primarycolor: #1b58f4;
.workflow-node-container {
  height: 40px;
  color: black;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  &.active {
    border: 1px solid @primarycolor;
  }
}

.workflow-switch-node-container {
  position: relative;
  width: 80px;
  height: 80px;
  border: none;
  &.active {
    border: none;
    .rhombus-container {
      border: 1px solid @primarycolor;
    }
  }
  .rhombus-container {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 57px;
    height: 57px;
    border: 1px solid #ccc;
    transform: rotate(45deg);
  }
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .start-connector {
    position: absolute;
    top: 31px;
    left: -4px;
    width: 14px;
    height: 14px;
    background-color: blue;
    border-radius: 50%;
  }
  .end-connector {
    position: absolute;
    top: 31px;
    right: -4px;
    width: 14px;
    height: 14px;
    background-color: blue;
    border-radius: 50%;
  }
}
