.user-wrapper {
  .user-list-wrapper {
    .next-table .next-table-header th .next-table-cell-wrapper {
      display: flex;
      justify-content: flex-start;
    }
    .next-table-header-icon {
      margin-top: 2px;
    }
    .next-table-cell.last .next-table-cell-wrapper {
      text-align: left;
      .next-btn-text {
        padding-left: 0;
      }
    }
  }
}
