.tabs-content {
  width: 100%;
  // height: 430px;
  background: #fff;
  .action-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
    background-color: #fff;
    border-bottom: var(--tab-wrapped-content-border-line-width, 1px)
      var(--tab-wrapped-content-border-line-style, solid)
      var(--tab-wrapped-border-line-color, #e3e4e6);
  }
  .next-tabs-tab {
    min-width: 200px;
    text-align: center;
    background: #fff !important;
    cursor: pointer;
    a {
      color: #000;
    }
  }
  .next-tabs-tab.active {
    a {
      color: #1b58f4;
    }
  }
}
