name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Get the version
      id: get_version
      run: |
        VERSION=${GITHUB_REF#refs/tags/}
        if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
          VERSION=latest
        fi
        echo ::set-output name=VERSION::${VERSION}
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Login to Aliyun Container Registry (ACR)
      uses: docker/login-action@v1 
      with:
        registry: acr.kubevela.net
        username: "${{ secrets.ACR_USERNAME }}"
        password: "${{ secrets.ACR_PASSWORD }}"
    - name: Build docker image
      id: acr_build
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        build-args: |
          GITVERSION=git-${{ steps.vars.outputs.git_revision }}
          VERSION=${{ steps.get_version.outputs.VERSION }}
        tags: |-
          acr.kubevela.net/oamdev/velaux:${{ steps.get_version.outputs.VERSION }}
          oamdev/velaux:${{ steps.get_version.outputs.VERSION }}
